In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe = DataFrame({'city':['Alma','Brian Head','Fox Park'],
                   'altitude':[3158,3000,2762]})

In [3]:
dframe

   altitude        city
0      3158        Alma
1      3000  Brian Head
2      2762    Fox Park

In [7]:
state_map= {'Alma':'Colorado','Brian Head':'Utah','Fox Park':'Wyoming'}

In [8]:
dframe['state'] = dframe['city'].map(state.map)

NameError: name 'state' is not defined

In [5]:
stated_map

{'Alma': 'Colorado', 'Brian Head': 'Utah', 'Fox Park': 'Wyoming'}

In [6]:
dframe['state'] = dframe['city'].map(stated.map)

NameError: name 'stated' is not defined