In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [5]:
dframe = pd.read_csv('lec25.csv')

In [6]:
dframe

   k  f  n  s   apple
0  d  k  l  n    pear
1  f  l  k  d  rabbit
2  e  g  e  e     dog

In [7]:
dframe = pd.read_csv('lec25.csv',header = None)

In [8]:
dframe

   0  1  2  3       4
0  k  f  n  s   apple
1  d  k  l  n    pear
2  f  l  k  d  rabbit
3  e  g  e  e     dog

In [9]:
dframe = pd.read_table('lec25.csv',sep=',', header=None)

In [10]:
dframe

   0  1  2  3       4
0  k  f  n  s   apple
1  d  k  l  n    pear
2  f  l  k  d  rabbit
3  e  g  e  e     dog

In [11]:
pd.read_csv('lec25.csv',header=None,nrows=2)

   0  1  2  3      4
0  k  f  n  s  apple
1  d  k  l  n   pear

In [12]:
dframe

   0  1  2  3       4
0  k  f  n  s   apple
1  d  k  l  n    pear
2  f  l  k  d  rabbit
3  e  g  e  e     dog

In [13]:
dframe.to_csv('mytextdata_out.csv')

In [14]:
import sys

In [15]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,k,f,n,s,apple
1,d,k,l,n,pear
2,f,l,k,d,rabbit
3,e,g,e,e,dog

In [16]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_k_f_n_s_apple
1_d_k_l_n_pear
2_f_l_k_d_rabbit
3_e_g_e_e_dog

In [19]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?k?f?n?s?apple
1?d?k?l?n?pear
2?f?l?k?d?rabbit
3?e?g?e?e?dog

In [22]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,k,f,n
1,d,k,l
2,f,l,k
3,e,g,e

In [23]:
url = 'https://docs.python.org/2/library/csv.html'